@{
    ViewData["Title"] = "Home Page";
    string[] days = {"Mon", "Tue"};
}

<div class="text-center">
    <h1 class="display-4" style="color: tomato;">Welcome to COMP4870</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
